<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landing.css">
    <title>Bookworm</title>
</head>
<body>
<header>
    <div class="logo">
        <!-- <img src="./images/logo.png" alt=""> -->
        <p>Bookworm Inc.</p>
    </div>
    <div class="navbar-container">
        <ul class="navbar-content">
            <li><a href='#'>Home</a></li>
            <li><a href='/login'>Login</a></li>
            <li><a href='/index'>Dashboard</a></li>
        </ul>
    </div>
</header>
<div class="wrapper">

    <div class="svg-container">
        <div class="text">
            <h2>Cherish the nerd in you</h2>
            <p>
                A metaphorical paradise for the nerd in you. Find like-minded people. Discuss your favourite books.
            </p>
        </div>
        <svg width="611" height="410" viewBox="0 0 611 410" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="book1 1">
            <path id="Vector" d="M592.983 397.072H17.0634V398.312H592.983V397.072Z" fill="#2A9D8F"/>
            <path id="Vector_2" d="M62.361 172.068L61.8781 173.211L592.321 397.588L592.804 396.446L62.361 172.068Z" fill="#2A9D8F"/>
            <path id="Vector_3" d="M592.983 171.965H17.0634V173.205H592.983V171.965Z" fill="#2A9D8F"/>
            <path id="Vector_4" d="M514.871 198.941C514.951 225.182 509.86 251.181 499.89 275.453C489.92 299.725 475.266 321.794 456.765 340.398C454.725 342.451 452.64 344.456 450.51 346.413C447.943 348.782 445.311 351.079 442.612 353.303C442.097 353.731 441.583 354.153 441.062 354.568C430.401 363.211 418.855 370.7 406.618 376.911C405.893 377.277 405.168 377.643 404.436 378.003C403.277 378.573 402.105 379.132 400.934 379.677C357.56 399.867 308.235 403.215 262.533 389.072C182.518 364.23 124.312 288.506 124.312 198.941C124.312 89.1714 211.742 0.189087 319.592 0.189087C427.442 0.189087 514.871 89.1714 514.871 198.941Z" fill="#F4A261"/>
            <path id="Vector_5" d="M583 141.805C577.803 161.02 560.005 172.921 560.005 172.921C560.005 172.921 550.631 153.667 555.827 134.452C561.024 115.237 578.823 103.337 578.823 103.337C578.823 103.337 588.196 122.59 583 141.805Z" fill="#F4A261"/>
            <path id="Vector_6" d="M535.727 141.805C540.923 161.02 558.722 172.921 558.722 172.921C558.722 172.921 568.096 153.667 562.9 134.452C557.703 115.237 539.904 103.337 539.904 103.337C539.904 103.337 530.531 122.59 535.727 141.805Z" fill="#F4A261"/>
            <path id="Vector_7" d="M543.363 137.676C557.622 151.561 559.364 172.905 559.364 172.905C559.364 172.905 537.987 171.737 523.728 157.852C509.469 143.967 507.727 122.623 507.727 122.623C507.727 122.623 529.104 123.791 543.363 137.676Z" fill="#2A9D8F"/>
            <path id="Vector_8" d="M575.364 137.676C561.105 151.561 559.364 172.905 559.364 172.905C559.364 172.905 580.74 171.737 594.999 157.852C609.258 143.967 611 122.623 611 122.623C611 122.623 589.623 123.791 575.364 137.676Z" fill="#2A9D8F"/>
            <path id="Vector_9" d="M415.569 188.782C422.154 188.782 427.493 183.441 427.493 176.854C427.493 170.266 422.154 164.926 415.569 164.926C408.983 164.926 403.645 170.266 403.645 176.854C403.645 183.441 408.983 188.782 415.569 188.782Z" fill="#1F1F25"/>
            <path id="Vector_10" d="M403.645 176.854C403.645 176.854 401.793 185.374 413.365 188.782L403.645 176.854Z" fill="#264653"/>
            <path id="Vector_11" d="M420.5 257.873C442.609 257.873 460.531 239.945 460.531 217.83C460.531 195.714 442.609 177.786 420.5 177.786C398.392 177.786 380.469 195.714 380.469 217.83C380.469 239.945 398.392 257.873 420.5 257.873Z" fill="#1F1F25"/>
            <path id="Vector_12" d="M442.612 353.303C442.097 353.731 441.583 354.153 441.062 354.568C430.401 363.21 418.855 370.7 406.618 376.911C405.893 377.277 405.168 377.643 404.436 378.003C403.277 378.573 402.105 379.131 400.934 379.677L380.414 372.837L380.649 367.92V367.901L381.542 349.148L381.846 342.736L442.612 353.303Z" fill="#A0616A"/>
            <path id="Vector_13" d="M404.436 378.003C403.277 378.573 402.105 379.131 400.934 379.677C392.918 383.426 384.651 386.611 376.192 389.209C376.149 389.085 376.124 388.955 376.117 388.824L380.414 367.82L380.649 367.92L404.436 378.003Z" fill="#1F1F25"/>
            <path id="Vector_14" d="M410.508 260.314C425.149 260.314 437.017 248.441 437.017 233.796C437.017 219.151 425.149 207.278 410.508 207.278C395.867 207.278 383.998 219.151 383.998 233.796C383.998 248.441 395.867 260.314 410.508 260.314Z" fill="#A0616A"/>
            <path id="Vector_15" d="M432.002 235.229C432.002 235.229 436.301 256.73 444.182 261.747L400.477 313.35L383.998 297.582L396.178 276.081C396.178 276.081 409.791 268.198 405.492 257.447L432.002 235.229Z" fill="#A0616A"/>
            <path id="Vector_16" d="M483.868 306.44C476.1 318.715 467.012 330.102 456.765 340.398C456.325 330.786 455.37 322.861 453.498 320.517C453.493 320.516 453.489 320.514 453.485 320.511L430.566 313.348C430.566 313.348 435.582 266.045 447.763 263.899C447.763 263.899 449.53 264.259 452.277 265.09C461.129 267.756 480.136 275.272 482.87 291.129C483.648 296.194 483.982 301.317 483.868 306.44Z" fill="#A0616A"/>
            <path id="Vector_17" d="M396.178 276.081C396.178 276.081 374.684 275.365 361.071 292.565C347.458 309.766 314.5 322.667 314.5 322.667L232.106 354.918C232.106 354.918 217.06 328.4 207.746 337.717C198.432 347.034 224.941 370.685 237.121 367.819C249.301 364.952 323.098 342.734 323.098 342.734L381.849 316.216L396.178 276.081Z" fill="#A0616A"/>
            <path id="Vector_18" d="M453.498 320.517L450.51 346.413C447.943 348.782 445.311 351.079 442.612 353.303C442.097 353.731 441.583 354.153 441.062 354.568C420.375 348.224 387.958 348.931 381.542 349.148C380.81 349.167 380.414 349.185 380.414 349.185L379.701 334.135C372.826 331.847 370.569 326.842 370.507 321.335C370.402 311.351 377.55 299.73 377.55 299.73C378.833 298.446 388.423 280.258 390.407 276.488C390.636 276.047 390.767 275.806 390.767 275.806L399.365 273.66C399.365 273.66 399.34 273.728 399.291 273.852C398.522 276.004 391.839 295.47 403.345 296.146C414.665 296.815 439.289 265.015 442.68 260.557C442.934 260.222 443.071 260.042 443.071 260.042L452.388 265.059C452.351 265.071 452.314 265.077 452.277 265.09C446.586 266.671 441.316 280.382 441.316 280.382C426.456 306.576 452.834 320.182 453.485 320.511C453.489 320.514 453.493 320.516 453.498 320.517Z" fill="#E1D2CD"/>
            <path id="Vector_19" d="M411.948 202.67C397.836 202.67 386.396 209.345 386.396 217.579C386.396 221.264 388.696 224.631 392.492 227.232L397.411 223.667L396.073 229.253C396.628 229.51 397.195 229.759 397.786 229.989L405.134 221.413V231.949C407.387 232.31 409.666 232.491 411.948 232.489C426.06 232.489 437.5 225.814 437.5 217.579C437.5 209.345 426.06 202.67 411.948 202.67Z" fill="#1F1F25"/>
            <path id="Vector_20" d="M464.289 207.416C470.874 207.416 476.213 202.076 476.213 195.488C476.213 188.901 470.874 183.56 464.289 183.56C457.703 183.56 452.365 188.901 452.365 195.488C452.365 202.076 457.703 207.416 464.289 207.416Z" fill="#1F1F25"/>
            <path id="Vector_21" d="M452.365 195.488C452.365 195.488 450.513 204.008 462.085 207.416L452.365 195.488Z" fill="#264653"/>
            <path id="Vector_22" d="M438.092 236.305C439.235 236.305 440.162 234.219 440.162 231.646C440.162 229.073 439.235 226.987 438.092 226.987C436.949 226.987 436.022 229.073 436.022 231.646C436.022 234.219 436.949 236.305 438.092 236.305Z" fill="#A0616A"/>
            <path id="Vector_23" d="M209.651 249.668L178.234 257.282L178.132 257.307L174.717 260.399L173.734 261.288L171.626 260.906L167.896 260.232L170.496 251.456L170.983 234.716L169.196 224.478L179.106 217.652C179.106 217.652 198.44 216.514 209.651 249.668Z" fill="#D0CDE1"/>
            <path id="Vector_24" opacity="0.1" d="M178.234 257.282C177.808 258.191 178.7 257.591 178.213 258.525L173.664 259.988L171.626 260.906L167.896 260.232L170.496 251.456L170.983 234.716L169.196 224.478L179.106 217.652C179.106 217.652 189.743 232.721 178.234 257.282Z" fill="black"/>
            <path id="Vector_25" d="M246.693 227.615C246.693 227.615 205.426 246.793 188.692 249.718C171.958 252.643 173.42 269.383 173.42 269.383L267.164 254.756C267.164 254.756 263.915 239.642 246.693 227.615Z" fill="#D0CDE1"/>
            <path id="Vector_26" d="M167.084 222.365C167.084 222.365 174.232 239.754 166.271 261.37L175.532 265.595L179.106 261.37L179.188 260.963L169.358 260.069C169.358 260.069 177.482 238.292 170.821 223.177C170.821 223.177 169.358 219.927 167.084 222.365Z" fill="#264653"/>
            <path id="Vector_27" d="M303.395 351.243C266.839 343.117 232.802 359.938 232.802 359.938L232.71 359.855L219.155 347.749L166.19 261.288L179.106 261.37C215.012 239.917 265.54 242.842 265.54 242.842C287.311 267.545 303.395 351.243 303.395 351.243Z" fill="#2A9D8F"/>
            <path id="Vector_28" opacity="0.1" d="M232.71 359.855L219.155 347.749L166.19 261.288L179.106 261.37C179.106 261.37 230.586 329.382 232.71 359.855Z" fill="black"/>
            <path id="Vector_29" d="M238.659 292.394C249.725 288.998 256.947 280.542 254.789 273.505C252.631 266.469 241.912 263.517 230.845 266.912C219.779 270.307 212.557 278.764 214.715 285.801C216.872 292.837 227.592 295.789 238.659 292.394Z" fill="#F5F5F5"/>
            <path id="Vector_30" d="M17.2301 183.653C23.7353 183.653 29.0089 178.378 29.0089 171.87C29.0089 165.363 23.7353 160.088 17.2301 160.088C10.7249 160.088 5.45132 165.363 5.45132 171.87C5.45132 178.378 10.7249 183.653 17.2301 183.653Z" fill="#2A9D8F"/>
            <path id="Vector_31" d="M592.53 410C599.035 410 604.309 404.725 604.309 398.218C604.309 391.71 599.035 386.435 592.53 386.435C586.025 386.435 580.751 391.71 580.751 398.218C580.751 404.725 586.025 410 592.53 410Z" fill="#2A9D8F"/>
            <path id="Vector_32" d="M68.6847 182.413C73.8204 182.413 77.9837 178.248 77.9837 173.111C77.9837 167.973 73.8204 163.809 68.6847 163.809C63.549 163.809 59.3857 167.973 59.3857 173.111C59.3857 178.248 63.549 182.413 68.6847 182.413Z" fill="#F4A261"/>
            <path id="Vector_33" d="M592.53 182.413C597.666 182.413 601.829 178.248 601.829 173.111C601.829 167.973 597.666 163.809 592.53 163.809C587.394 163.809 583.231 167.973 583.231 173.111C583.231 178.248 587.394 182.413 592.53 182.413Z" fill="#F4A261"/>
            <path id="Vector_34" d="M17.2301 406.279C22.3658 406.279 26.5291 402.115 26.5291 396.977C26.5291 391.84 22.3658 387.675 17.2301 387.675C12.0944 387.675 7.93106 391.84 7.93106 396.977C7.93106 402.115 12.0944 406.279 17.2301 406.279Z" fill="#2A9DAF"/>
            <g id="flicks">
            <path id="Vector_35" d="M402.793 171.742C402.793 168.8 403.881 165.962 405.846 163.773C407.811 161.585 410.515 160.2 413.439 159.885C411.774 159.703 410.089 159.874 408.495 160.387C406.9 160.9 405.431 161.743 404.184 162.862C402.937 163.98 401.939 165.349 401.256 166.879C400.573 168.409 400.22 170.066 400.22 171.742C400.22 173.418 400.573 175.074 401.256 176.605C401.939 178.135 402.937 179.504 404.184 180.622C405.431 181.741 406.9 182.584 408.495 183.097C410.089 183.61 411.774 183.781 413.439 183.599C410.515 183.284 407.811 181.899 405.846 179.71C403.881 177.522 402.793 174.684 402.793 171.742Z" fill="#1F1F25"/>
            <path id="Vector_36" d="M451.513 190.376C451.513 187.434 452.601 184.596 454.566 182.408C456.531 180.219 459.236 178.834 462.16 178.519C461.735 178.473 461.309 178.449 460.882 178.448C459.261 178.446 457.656 178.774 456.166 179.413C454.676 180.052 453.332 180.989 452.216 182.165C451.1 183.341 450.235 184.733 449.675 186.255C449.115 187.777 448.871 189.397 448.958 191.016C449.045 192.635 449.461 194.22 450.181 195.673C450.901 197.126 451.91 198.417 453.145 199.467C454.381 200.517 455.818 201.304 457.367 201.779C458.917 202.255 460.548 202.41 462.16 202.233C459.236 201.918 456.531 200.533 454.566 198.345C452.601 196.156 451.513 193.318 451.513 190.376Z" fill="#1F1F25"/>
            </g>
            <g id="movable-flower">
            <path id="Vector_37" d="M76.2729 366.292C71.0765 385.507 53.2776 397.407 53.2776 397.407C53.2776 397.407 43.9038 378.154 49.1002 358.939C54.2966 339.724 72.0955 327.823 72.0955 327.823C72.0955 327.823 81.4693 347.077 76.2729 366.292Z" fill="#F4A261"/>
            <path id="Vector_38" d="M29.0001 366.292C34.1965 385.507 51.9953 397.407 51.9953 397.407C51.9953 397.407 61.3692 378.154 56.1728 358.939C50.9764 339.724 33.1775 327.823 33.1775 327.823C33.1775 327.823 23.8037 347.077 29.0001 366.292Z" fill="#F4A261"/>
            <path id="Vector_39" d="M36.6358 362.162C50.8949 376.047 52.6365 397.392 52.6365 397.392C52.6365 397.392 31.2597 396.224 17.0007 382.339C2.74163 368.454 1 347.11 1 347.11C1 347.11 22.3768 348.277 36.6358 362.162Z" fill="#2A9D8F"/>
            <path id="Vector_40" d="M68.6371 362.162C54.3781 376.047 52.6365 397.392 52.6365 397.392C52.6365 397.392 74.0133 396.224 88.2723 382.339C102.531 368.454 104.273 347.11 104.273 347.11C104.273 347.11 82.8961 348.277 68.6371 362.162Z" fill="#2A9D8F"/>
            </g>
            <g id="bulb">
            <path id="Vector_41" d="M363.071 157.247L363.226 157.241L362.614 155.898C361.927 153.995 361.088 152.151 360.104 150.384L342.166 110.987C341.594 109.73 340.667 108.667 339.499 107.929C338.331 107.191 336.973 106.81 335.592 106.833L312.876 107.212C311.407 107.236 309.982 107.716 308.797 108.586C307.613 109.455 306.728 110.671 306.263 112.065L291.982 154.971C291.512 156.172 291.105 157.397 290.761 158.641L290.276 160.098L290.39 160.093C289.067 165.751 289.067 171.639 290.393 177.297C291.718 182.954 294.331 188.23 298.029 192.711C301.727 197.192 306.41 200.759 311.712 203.133C317.015 205.507 322.793 206.623 328.598 206.396C334.403 206.169 340.077 204.604 345.177 201.822C350.278 199.041 354.667 195.119 358.004 190.362C361.34 185.606 363.534 180.142 364.412 174.398C365.291 168.654 364.832 162.784 363.071 157.247H363.071Z" fill="#FDE400"/>
            <path id="Vector_42" d="M320.735 116.847L313.586 155.936L314.393 156.083L321.541 116.994L320.735 116.847Z" fill="#1F1F25"/>
            <path id="Vector_43" d="M329.325 116.703L328.523 116.877L336.962 155.708L337.763 155.534L329.325 116.703Z" fill="#1F1F25"/>
            <path id="Vector_44" d="M310.4 87.9725L339.509 87.4874C339.726 87.4837 339.936 87.5667 340.093 87.7179C340.249 87.8692 340.339 88.0764 340.342 88.2939C340.346 88.5115 340.263 88.7215 340.112 88.8779C339.961 89.0343 339.754 89.1242 339.536 89.1278L310.427 89.6129C310.319 89.6147 310.213 89.5953 310.112 89.5557C310.012 89.5161 309.921 89.4572 309.843 89.3823C309.766 89.3074 309.704 89.218 309.661 89.1192C309.618 89.0204 309.595 88.9141 309.594 88.8063C309.592 88.6986 309.611 88.5916 309.651 88.4914C309.69 88.3912 309.749 88.2998 309.824 88.2223C309.899 88.1449 309.988 88.083 310.087 88.0401C310.186 87.9972 310.292 87.9743 310.4 87.9725Z" fill="#1F1F25"/>
            <path id="Vector_45" d="M310.707 94.1207L339.816 93.6357C340.034 93.632 340.244 93.715 340.4 93.8662C340.556 94.0175 340.646 94.2247 340.65 94.4422C340.653 94.6598 340.571 94.8698 340.419 95.0262C340.268 95.1826 340.061 95.2725 339.844 95.2761L310.735 95.7612C310.517 95.7648 310.307 95.6819 310.151 95.5306C309.994 95.3794 309.905 95.1722 309.901 94.9546C309.897 94.7371 309.98 94.527 310.131 94.3706C310.283 94.2143 310.49 94.1244 310.707 94.1207Z" fill="#1F1F25"/>
            <path id="Vector_46" d="M311.015 100.269L340.124 99.7839C340.341 99.7803 340.551 99.8633 340.707 100.015C340.864 100.166 340.954 100.373 340.957 100.591C340.961 100.808 340.878 101.018 340.727 101.175C340.576 101.331 340.368 101.421 340.151 101.424L311.042 101.909C310.825 101.913 310.615 101.83 310.458 101.679C310.302 101.528 310.212 101.32 310.208 101.103C310.205 100.885 310.288 100.675 310.439 100.519C310.59 100.363 310.797 100.273 311.015 100.269Z" fill="#1F1F25"/>
            <path id="Vector_47" d="M324.857 81.8794C319.083 81.9756 314.456 85.2726 314.522 89.2435L335.431 88.895C335.365 84.9242 330.631 81.7832 324.857 81.8794Z" fill="#1F1F25"/>
            <path id="Vector_48" d="M328.074 161.709C329.215 161.786 330.296 162.248 331.14 163.019C331.356 163.199 331.569 163.386 331.782 163.575C332.457 164.279 333.283 164.82 334.198 165.156C336.202 165.703 338.179 164.118 339.849 162.496L340.421 163.084C338.585 164.868 336.386 166.603 333.982 165.948C332.944 165.582 332.005 164.98 331.239 164.19C331.032 164.007 330.826 163.824 330.617 163.65C329.932 163.082 328.608 162.197 327.432 162.656C326.943 162.894 326.509 163.23 326.155 163.641C325.881 163.93 325.584 164.197 325.269 164.439C324.623 164.898 323.855 165.156 323.063 165.179C322.272 165.203 321.49 164.991 320.818 164.572C320.577 164.411 320.344 164.236 320.121 164.05C319.757 163.688 319.302 163.429 318.805 163.3C318.108 163.202 317.475 163.7 316.804 164.226C316.169 164.843 315.358 165.246 314.483 165.379C314.454 165.38 314.424 165.382 314.394 165.382C312.76 165.409 311.723 163.774 311.082 162.531L311.811 162.155C312.682 163.845 313.522 164.615 314.44 164.56C315.143 164.425 315.789 164.084 316.297 163.58C317.073 162.971 317.877 162.342 318.918 162.487C319.566 162.628 320.162 162.949 320.638 163.412C320.837 163.58 321.045 163.736 321.261 163.882C321.795 164.208 322.413 164.373 323.039 164.354C323.665 164.335 324.272 164.135 324.785 163.777C325.067 163.559 325.331 163.32 325.575 163.061C326.006 162.566 326.537 162.168 327.133 161.892C327.434 161.775 327.752 161.713 328.074 161.709Z" fill="#1F1F25"/>
            <path id="Vector_49" d="M325.781 0H324.929V81.8459H325.781V0Z" fill="#1F1F25"/>
            </g>
            </g>
        </svg>
                
    </div>
    <div class="form-container">
        <h1>Sign Up Now!</h1>
        <form action="/register" method="POST">
            <div class="form-element">
                <label class="form-label" for="user[fname]">First Name</label>
                <input type="text" placeholder="John" name="user[fname]">
            </div>
            <div class="form-element">
                <label class="form-label" for="user[lname]">Last Name</label>
                <input type="text" placeholder="Doe" name="user[lname]">
            </div>
            <div class="form-element">
                <label class="form-label" for="user[email]">Email</label>
                <input type="email" placeholder="johndoe@xyz.co" name="user[email]">
            </div>
            <div class="form-element">
                <label class="form-label" for="user[username]">Username</label>
                <input type="text" placeholder="John" name="user[username]">
            </div>
            <div class="form-element">
                <label class="form-label" for="user[pass]">Password</label>
                <input type="password" placeholder="Password" name="user[pass]">
            </div>
            <div class="form-element">
                <label class="form-label" for="user[repass]">Re-enter password</label>
                <input type="password" placeholder="Re-enter password" name="user[repass]">
            </div>
            <div class="form-element">
                <button type="submit">Sign Up!</button>
            </div>
            <span class="login-link">Already a member? <a href="/login">Login</a></span>
        </form>
    </div>
</div>
</body>
</html>