@import 'variables';

.entry-form{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        margin: 3rem auto;
        width: 90%;
        max-width: 600px;
        padding: 2rem;
        h1{
            text-align: center;
            margin-bottom: 2rem;
        }
        form{
            input,textarea{
                &:focus{
                    border: solid 1px $secondary-color;
                    outline-color: $secondary-color;
                    box-shadow: 0 0 0 0.25rem #f4a36186;
                }
            }
            button{
                    width: 100%;
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                    margin-bottom: 10px;
                    &:focus{
                        box-shadow: 0 0 0 0.25rem #f4a36186 ;
                }
            }
            span a{
                margin-top: 10px;
                text-decoration: none;
            }
        }
    }
}

.addNew-btn{
    width: 100%;
    border-color: $secondary-color;
    color: $secondary-color;
    margin-bottom: 2rem;
    &:hover{
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: $primary-color;
    }
}