@import 'variables';
@import 'index';
@import 'forms';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $primary-color;
}

footer{
    // position: absolute;
    background-color: $secondary-color;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 10;
}

.navbar-light{
    background-color: $secondary-color;
    z-index: 10;
    margin-bottom: 2rem;
    input{
        &:focus{
            box-shadow: none;
            border-color: $primary-color;
        }
    }
    button{
        border-color: $primary-color;
        color: $primary-color;
        &:hover{
            background-color: $primary-color;
            color: $secondary-color;
            border-color: $primary-color;
        }
    }
}