@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.carousel {
  margin: 5vh auto;
}

.index-element {
  margin-bottom: 2rem;
}

.index-element img {
  max-height: 30rem;
}

.index-element .text-title {
  text-align: center;
  padding: 1rem 0;
}

.index-element .text-title a {
  text-decoration: none;
  color: #232323;
  font-size: 1.2em;
}

.index-element .text-title a .link-glyph {
  color: #0d6efd;
  font-size: 0.9em;
}

.index-element .text-title a .link-glyph:hover {
  text-decoration: underline;
}

.entry-form {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-form .card {
  margin: 3rem auto;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
}

.entry-form .card h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.entry-form .card form input:focus, .entry-form .card form textarea:focus {
  border: solid 1px #F4a261;
  outline-color: #F4a261;
  -webkit-box-shadow: 0 0 0 0.25rem #f4a36186;
          box-shadow: 0 0 0 0.25rem #f4a36186;
}

.entry-form .card form button {
  width: 100%;
  background-color: #F4a261;
  border-color: #F4a261;
  margin-bottom: 10px;
}

.entry-form .card form button:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #f4a36186;
          box-shadow: 0 0 0 0.25rem #f4a36186;
}

.entry-form .card form span a {
  margin-top: 10px;
  text-decoration: none;
}

.addNew-btn {
  width: 100%;
  border-color: #F4a261;
  color: #F4a261;
  margin-bottom: 2rem;
}

.addNew-btn:hover {
  background-color: #F4a261;
  border-color: #F4a261;
  color: #232323;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-form textarea {
  border-radius: 5px;
  width: 100%;
  padding: 1em;
}

.comment-form textarea:focus {
  outline: auto 3px #F4a261;
  border: auto 2px #F4a261;
}

.comment-form button {
  background-color: #F4a261;
  border-radius: 5px;
  color: #232323;
  padding: 0.4rem 2rem;
  border: solid 2px #F4a261;
  margin: 1rem 0;
}

.comment-form .warning {
  color: whitesmoke;
  font-size: 0.8em;
}

.content-wrapper {
  padding: 2rem;
}

.image-container {
  padding-bottom: 1rem;
}

.image-container p {
  margin: 5px 1rem;
}

.image-container img {
  min-width: 250px;
  max-width: 25vw;
}

.card.bg-default {
  background-color: #F4a261;
  margin-top: 1rem;
}

.card.bg-default h6 {
  font-weight: bold;
}

.card.bg-default .card-body {
  background-color: #fff;
}

.comment {
  margin-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #232323;
  min-height: 100%;
}

footer {
  background-color: #F4a261;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  z-index: 10;
}

.navbar-light {
  background-color: #F4a261;
  z-index: 10;
  margin-bottom: 2rem;
}

.navbar-light input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #232323;
}

.navbar-light button {
  border-color: #232323;
  color: #232323;
}

.navbar-light button:hover {
  background-color: #232323;
  color: #F4a261;
  border-color: #232323;
}
/*# sourceMappingURL=bookworm.css.map */